* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: hsl(218, 28%, 13%);
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
}